@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body,
main {
    background-color: #f0f0f0 !important;
}

.container {
    background-color: #fff;
}

.login img {
    width: 1110px;
    margin: 0;
    padding: 0;
}

.button {
    padding-top: 120px;
}

.button2 {
    padding-top: 96px;
}

.content h3,
h6 {
    padding: 20px;
}

.content div,
ul,
p {
    padding-left: 50px;
}

.dropdown-menu {
    max-width: 200px;
    top: 116%;
}

.dropdown-item:focus {
    background: none;
    color: #343a40!important;
}

.dropdown button {
    border: none;
    outline: none;
    background: #343a40!important;
}

.btn-secondary {
    padding-top: 8px;
    color: rgba(255,255,255,.5);
}
