@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main {
    background-color: #f0f0f0;
}

.container {
    background-color: #fff;
}

.card {
    width: 32%;
}

.login img {
    width: 1110px;
    margin: 0;
    padding: 0;
}

.button {
    padding-top: 120px;
}

.button2 {
    padding-top: 96px;
}